header{
    min-height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
}

.logo{
    display: flex;
    align-items: center;

}

.logo span{
    font-size: 22px;  
    margin-left: 7px;
    

}
.icon {
    font-size: 20px;
    margin-left: 10px;
    vertical-align: middle;
    display: flex;
    cursor: pointer;
}

@media (max-width: 576px) {
    .logo span{
        font-size: 15px;
    }
    .navbar {
        font-size: 15px;}
}



