.flex2 {
  background-color: rgba(255, 255, 255, 0.295);
  border: none;
  border-radius: 10px;
  padding: 0px 40px;
  margin: 30px 300px;
  transition: all 500ms;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  display: flex;
}
img {
  width: 40%;
  border-radius: 10px;
}

.Carousel{
  width: 100%;
  margin: 20px;
}
.Carousel2{
  width: 100%;
}

.desc {
  margin: 10px;
  margin-top: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
}

.btn-more {
  display: flex;
  justify-content: end;
  align-items: end;
  height: 40%;
  
}

.img-box{
  cursor: pointer;
}




@media (max-width: 1500px) {
  .flex2 {
    padding: 0px 40px;
    margin: 20px 50px;
  }
}
@media (max-width: 900px) {
  .flex2 {
    margin: 30px;
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  .Carousel{
    width: 100%;
    margin:0px 0px;
    margin-top: 20px ;
    
  }
}

@media (max-width: 576px) {
  h2{
    font-size: 16px;
  }
  p{
    font-size: 13px;
    margin: 0px;
  }
  .btn{
    font-size: 13px;
  }
  li{
    font-size: 13px;
  }
  ul{
    margin: 0px;
    padding: 15px;
  }
}


