.App {
  min-height: 100vh;
}

a{
  transition: all 500ms;

}

button{
  transition: all 500ms;
}

.light {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 15%,
    rgb(239, 240, 223) 100%
  );
  color: black;
  transition: all 500ms;
}

.light a {
  color: black;
}
.light a:hover {
  color: rgb(255, 30, 124);
}

.light button:hover {
  color: rgb(255, 30, 124);
}

.dark {
  background: rgb(130, 95, 111);
  background: radial-gradient(
    circle,
    rgba(130, 95, 111, 1) 0%,
    rgba(82, 102, 126, 1) 100%
  );
  color: white;
  transition: all 500ms;
}

.dark a {
  color: white;
}

.dark button {
  color: white;
}

.dark button:hover {
  color: rgb(238, 135, 178);
}
.dark a:hover {
  color: rgb(238, 135, 178);
}

.light .title {
  background: -webkit-linear-gradient(rgb(190, 117, 145), rgb(102, 102, 101) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.light .title2 {
  background: -webkit-linear-gradient(rgb(190, 117, 145), rgb(102, 102, 101) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
.light .title3 {
  background: -webkit-linear-gradient(rgb(190, 117, 145), rgb(102, 102, 101) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.light header{
  background: -webkit-linear-gradient(rgb(190, 117, 145), rgb(102, 102, 101) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.dark .title {
  background: -webkit-linear-gradient(rgb(235, 159, 192), rgb(237, 240, 193) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dark .title2 {
  background: -webkit-linear-gradient(rgb(235, 159, 192), rgb(237, 240, 193) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dark .title3 {
  background: -webkit-linear-gradient(rgb(235, 159, 192), rgb(237, 240, 193) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark header{
  background: -webkit-linear-gradient(rgb(235, 159, 192), rgb(237, 240, 193) );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}