@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Pathway+Extreme&family=Poppins:wght@300&display=swap');

body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-height: 100vh;
  font-family: 'Poppins', sans-serif;

}

button{
  font-family: 'Poppins', sans-serif;
}